@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

input,
textarea {
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.goog-te-banner-frame.skiptranslate,
#goog-gt-tt,
.goog-te-balloon-frame,
.goog-text-highlight {
  display: none !important;
}

[id] {
  scroll-margin-top: 60px;
}
